<footer class="page-footer grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s4 center">
        <a class="grey-text text-darken-3" href="https://medium.com/@beeman">Medium</a>
      </div>
      <div class="col s4 center">
        <a class="grey-text text-darken-3" href="https://twitter.com/@beeman_nl">Twitter</a>
      </div>
      <div class="col s4 center">
        <a class="grey-text text-darken-3" href="https://github.com/beeman">GitHub</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey-text text-darken-3">
    <div class="center">
      Made with <span style="color: red;"> ❤ </span>️ by beeman
    </div>
  </div>
</footer>
